.Card {
    background-size: cover;
    background-position: center;
    background-image: url('https://skidka-voronezh.ru/images/prodacts/sourse/61778/61778589_portret-doriana-greya-ast.jpg');
    cursor: pointer;
    position: relative;
    width: 130px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card__title {
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
}

.Card__subtitle {
    font-weight: 100;
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
}

.Card:hover {
    transform: scale(1.1);
}

