.Navbar {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 200px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.Navbar__title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}

.Navbar__links {
    display: flex;
    flex-direction: column;
}

.Navbar__link {
    margin-left: 4px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.Navbar__link:hover {
    color: grey;
}
