.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-left: 100px;
}

.HomePage__banner {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    border-bottom: 1px solid #cfcfcf;
}

.books__container {
    margin: 0 auto;
    justify-content: space-around;
    width: 90%;
    display: flex;
}

.HomePage__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}
